* {
  font-family: "Poppins", sans-serif;
  font-size: medium;
 
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  align-items: left;
  margin: 0 0.5em;
}

nav {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  margin-top: -2em;
  height: 32px;
  margin-top: 1em;
  margin-left: 10px
}

ul {
  background-color: #f1f1f1;
  display: flex;
  list-style-type: none;
  height: 100%;
  align-items: center;
  margin-bottom: 0rem;
  justify-content: space-between;
}

li {
  padding: 1em;
}

.nav-link {
  transition: color 0.2s ease-in-out;
  color: #000;
  font-weight: 900;
}

.nav-link:hover {
  color: #4e6ddb;
}

a {
  text-decoration: none;
}

.nav-logo {
  font-weight: bolder;
  margin-right: 1em;
}

i {
  visibility: hidden;
}

header {
  margin-top: 7em;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  color: black;
  text-align: center;
}
.navyBar {
  display: flex;
  justify-content: space-between;
}
.icons {
  padding: 10px;
  color: #000;
}
@media screen and (max-width: 576px) {
  i {
    margin-right: 1em;
    visibility: visible;
    transition: transform 0.2s ease-in-out;
    color: #000;
  }

  i:hover {
    transform: scale(1.2);
  }

  .nav-ul {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    flex-direction: column;
    position: absolute;
    top: 3em;
    width: 10em;
    height: 15em;
  }

  .nav-ul li {
    padding: 1em 0;
  }

  .visible {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-top: 13px;
  }
  .container{
    margin:0;
  }
}
